* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  max-height: 100vh;
  background-color: #EAEBED;

}

/*nav */
header {
  padding: 1.7rem 1rem;
  backdrop-filter: blur(10px);
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: 800;
}

.logo a {
  color: #113D6B;
  text-decoration: none;
}

nav a {
  color: #113D6B;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .7px;
  padding: 1rem;
  padding: 0.4rem 1rem;
}

nav a.active,
nav a:hover {
  background-color: #113D6B;
  color: #fff;
  border-radius: 1rem;
  transition: all.3s ease-in-out;
}

#click {
  display: none;
}

.menu {
  display: none;
}

/* Nav */

section {
  margin: 2rem 8.5rem;

}

.main {
  display: grid;
  grid-template-columns: 5% repeat(2, 1fr);
  column-gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
}

.main h1 {
  font-size: 4rem;
  font-weight: 600;
}

.main p {
  margin-top: 1rem;
  font-size: .99rem;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
  margin-top: 1.7rem;
}

.social a {
  color: #113D6B;
  font-size: 6rem;
  border: 2px solid #113D6B;
  border-radius: 50%;
  padding: 1rem;
  text-align: center;
  width: 26px;
}

.social a:hover {
  color: #fff;
  background-color: #113D6B;
  transition: all .3s ease-in-out;
}

.main h1 span:nth-child(1) {
  font-size: 3rem;
}

.button button {
  background-color: transparent;
  border: 1px solid #0e71dc;
  border-radius: 0.4rem;
  font-size: medium;
  margin-top: 2rem;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
}

.button button:hover {
  background-color: #113D6B;
  color: #fff;
  transition: all .3s ease-in-out;
  transform: scale(.91);
}

.images {
  background-image: url('https://task025.w3spaces.com/graph6.png');
  background-repeat: no-repeat;
  background-position: 0 -75px;
  background-position: 0px -74px;
}

@media only screen and (max-width: 1024px) {
  section {
    margin: 2rem 2.5rem;
  }
}

@media only screen and (max-width:768px) {
  html {
    font-size: 95%;
  }

  header {
    max-width: 100%;
  }

  section {
    margin: 0rem 1.5rem;
  }

  .images {
    background-position: center;
    background-size: cover;
  }
}

@media only screen and (max-width:480px) {
  .menu {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #113D6B;
  }

  header {
    padding: 0.7rem 1rem;
    align-items: center;
    max-width: 100%;
  }

  nav {
    position: absolute;
    display: grid;
    top: 75px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    left: -100%;
  }

  #click:checked~nav {
    left: 0%;
    transition: all 0.3s ease;
  }

  section {
    margin: 1rem 1.5rem;
  }

  .main {
    grid-template-columns: repeat(1, 1fr);
  }

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');