
/* Move the CSS code to the <head> section */
* {
  margin: 0;
  padding: 0;
}

.background {
  /* Use a background color as a fallback for older browsers */
  background-color: black;
  /* Set the background image */
  background-image: url("my-website/photo/IMG_20220419_081041-removebg-preview.png");
  /* Set the background size and position */
  background-size: cover;
  background-position: center;
  /* Disable background repeat */
  background-repeat: no-repeat;
  /* Set the dimensions of the background div to cover the entire screen */
  width: 5000px;
  height: 5000px;
 
}