*{
  margin: 0;
  padding:0;
}
.back-image{
  width: 210vh;
  height: 100vh;
  background-image: url(photo/font.jpg);
 background-size: cover;
  background-repeat: no-repeat;
}
.container   {
  padding: 10px 10px;
  }
nav ul li  {
  display: flex;
  display: inline-block;
  margin: 15px;
  flex-wrap: wrap; 
 }
 nav ul li a{
  
   color: white;
   text-decoration: none;
   font-size: 30px;
   position: relative; 
 } 

nav{
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center ;
  flex-wrap: wrap; 
}
nav ul li a::after{
  content: '';
  width: 0%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom:-6px;
  transition : 0.3s;
  
}
nav ul li a:hover::after{
  width:100%
}
.header-text{
  color: white;
  margin-top: 20%;
  font-size: 40px;
  padding: 10px 200px;  
}
.header-text h1{
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span{
  color: #ff004f;
}
.my-pic
{
  width: 200px;
}